.duty {
    position: relative;
    &__in {
        padding: 40px 0;
    }

    &__head {
        margin-bottom: 30px;
    }

    &__body {
        margin-bottom: 30px;

        li {
            position: relative;
            padding-left: 10px;

            &:after {
                position: absolute;
                top: 5px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #000;
                content: '';
            }
        }
    }
}