.header {

    &__top {

        &_in {
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_mob {
            display: none;
        }

        &_logo {
            height: 74px;
            flex: 0 0 auto;
            @include def-anim;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: flex;
            }
        }

        &_main {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 50px;
            justify-content: flex-end;

            &_item {
                margin: 0 30px;
            }

            &_map {
                display: flex;
                align-items: center;

                &_img {
                    height: 115px;
                    margin-right: 15px;
                    flex: 0 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
                &_label {
                    font-size: 16.1226px;
                    line-height: 20px;
                    color: #8B8B8B;
                }
            }

            &_soc {
                display: flex;
                align-items: center;

                &_item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 34px;
                    height: 34px;
                    flex: 0 0 auto;
                    margin: 0 7px;
                    @include def-anim;


                    &:hover {
                        transform: scale(1.1);
                    }

                    &:active {
                        transform: scale(0.95);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }

            &_ex {
                &_tel {
                    font-weight: 700;
                    font-size: 20.7415px;
                    line-height: 25px;
                    margin-bottom: 4px;
                    @include def-anim;

                    &:hover {
                        color: var(--yellow);
                    }
                }
                &_label {
                    font-size: 16.1226px;
                    line-height: 20px;
                    color: #8B8B8B;
                }
            }
        }
    }

    &__main {
        

        &_in {

        }

        &_nav {
            background-color: var(--dark-gray);
            padding: 0 20px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            margin: 20px 0;

            &_item {
                margin: 0 15px;
                a {
                    display: block;
                    padding: 15px 5px;
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 500;
                }
            }

            &_item.header__main_nav_item-drop {
                position: relative;

                
            }
        }

        &_menu {
            background-color: var(--yellow);
            padding: 0 20px;
            border-radius: 15px;
            margin: 20px 0;
            display: flex;
            align-items: center;

            &_item {  
                margin: 0 15px;  
                a {
                    display: block;
                    padding: 15px 5px;
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 500;
                }
            }

            &_item.header__main_menu_item-drop {
                position: relative;
                padding-right: 15px;

                &:after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-image: url('../img/icons/triangle.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    @include def-anim;
                    top: calc(50% - 5px);
                    right: 0;
                }

                .header__main_menu_item_submenu {
                    opacity: 0;
                    z-index: -1;
                    @include def-anim;
                    background-color: #fff;
                    position: absolute;
                    width: 350px;
                    border-radius: 10px;
                    padding: 10px;
                    
                }

                &:hover {

                    &:after {
                        transform: rotate(180deg);
                    }
                    .header__main_menu_item_submenu {
                        opacity: 1;
                        z-index: 10;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .header.active {
        
        &:after {
            width: 100%;
        }
    }

    .header {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        
        
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: var(--yellow);
            width: 0;
            content: '';
            @include def-anim;
        }


        &__top {
            position: relative;
            z-index: 2;
            &_main {
                display: none;
            }
            &_mob {
                display: block;

                &_btn.active {

                    span {

                        &:nth-child(1) {
                            top: calc(50% - 2px);
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            bottom: calc(50% - 2px);
                            transform: rotate(-45deg);
                        }
                    }
                }

                &_btn {     
                    height: 35px;
                    width: 60px;
                    position: relative;
                    background-color: unset;
                    cursor: pointer;

                    span {
                        height: 4px;
                        width: 100%;
                        display: block;
                        border-radius: 40px;
                        background-color: #000;
                        @include def-anim;
                        position: absolute;

                        &:nth-child(1) {
                            top: 0;
                            left: 0;
                        }
                        &:nth-child(2) {
                            top: calc(50% - 2px);
                            left: 0;
                        }
                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        &__main {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .header {

        &__top {

            &_logo {
                height: 50px;
                
            }
        }
    }
}