.hero {
    padding: 40px 0;

    &__in {
        background-color: var(--yellow);
        height: 507px;
       
        border-radius: 15px;
        padding: 0 10px 0 55px;
        background-image: url('../img/hero-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 0;
        &_head {
            font-weight: 300;
            font-size: 28.9168px;
            line-height: 35px;
            text-transform: uppercase;
            span {
                font-weight: 700;
                font-size: 37.6452px;
                line-height: 46px;
                display: block;
            }   
        }

        &_main {
            display: flex;

            &_form {
                display: flex;
                flex-direction: column;
                max-width: 260px;
                width: 100%;

                .input {
                    margin: 5px 0;
                    padding: 12px 25px;
                    background-color: #fff;
                    border-radius: 8px;
                    font-weight: 300;
                    font-size: 19px;
                    line-height: 23px;
                }

                .button {
                    margin-top: 5px;
                }
            }

            &_list {
                margin-left: 30px;
                max-width: 410px;
                width: 100%;
                background-color: #fff;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 10px 35px;

                ul {
                    li {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 21px;
                        margin-bottom: 5px;
                        position: relative;
                        padding-left: 20px;

                        &:after {
                            position: absolute;
                            top: calc(50% - 2.5px);
                            left: 0;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: #000;
                            content: '';

                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &__img {

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

}


@media (max-width: 1024px) {
    .hero {

        &__in {
            padding: 0 40px;

        }

        &__img {
            display: none;
        }

        &__content {
            width: 100%;
            &_main {

                &_form {
                    width: 50%;
                    max-width: unset;
                }

                &_list {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {

        &__in {
            flex-wrap: wrap;
            padding: 25px;
            height: unset;
            background-image: unset;
        }

        &__content {
            padding: 0;

            &_head {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 40px;

                span {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            &_main {
                flex-wrap: wrap;

                &_form {
                    width: 100%;
                    margin-bottom: 25px;

                }

                &_list {
                    width: 100%;
                    padding: 20px;
                    max-width: unset;
                    margin: 0;

                }
            }
        }
    }
}