.rating {

    &__in {
        padding: 40px 0;

    }

    &__head {
        text-align: center;
        margin-bottom: 25px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;

        &_item {
            width: calc((100% / 5) - 10px);
            margin: 0 5px;
            margin-bottom: 10px;
            min-height: 86px;
            display: flex;
            align-items: center;

            border: 2px solid var(--yellow);
            border-radius: 15px;
            padding: 5px 20px;

            &_img {
                flex: 0 0 auto;
                max-width: 30px;
                width: 100%;
                height: 30px;
                margin-right: 10px;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }

            &_val {
                font-weight: 400;
                font-size: 35px;
                line-height: 42px;
                letter-spacing: -0.06em;
            }   

            &_info {
                padding-left: 10px;
                
                &_st {

                }

                &_text {
                    font-weight: 400;
                    font-size: 13.4447px;
                    line-height: 16px;
                }
            }   
        }
    }
}

@media (max-width: 1200px) {
    .rating {

        &__in {

        }

        &__body {
            justify-content: center;

            &_item {
                width: calc((100% / 3) - 10px);
            }
        }
    }
}

@media (max-width: 768px) {

    .rating {

        &__body {

            &_item {
                width: calc(100% - 10px);
            }
        }
    }
}