<div class="mobmenu">
    <div class="mobmenu__nav">
        <ul class="mobmenu__nav_list">
            <li class="mobmenu__nav_item active"><a href="#">О компании</a></li>
            <li class="mobmenu__nav_item"><a href="#">Услуги и цены</a></li>
            <li class="mobmenu__nav_item"><a href="#">Завершенные дела</a></li>
            <li class="mobmenu__nav_item"><a href="#">Отзывы</a></li>
            <li class="mobmenu__nav_item"><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="mobmenu__contacts">
        <ul class="mobmenu__contacts_soc">
            <li class="mobmenu__contacts_soc_item"><a href="#"><img src="./img/icons/telegram.png" alt="Telegram"></a></li>
            <li class="mobmenu__contacts_soc_item"><a href="#"><img src="./img/icons/whatsapp.png" alt="Whatsapp"></a></li>
            <li class="mobmenu__contacts_soc_item"><a href="#"><img src="./img/icons/viber.png" alt="Viber"></a></li>
        </ul>
        <div class="mobmenu__contacts_ex">
            <a href="tel:" class="mobmenu__contacts_ex_tel">+7 (495) 000-00-00</a>
            <div class="mobmenu__contacts_ex_text">
                Консультируем бесплатно! <br>    
                ПН-ПТ с 9:00 до 19:00
            </div>
        </div>
    </div>
</div>